<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>THÊM MỚI KHÁCH HÀNG</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<form method="post" th:action="@{/edit}" th:object="${blogs}">
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="text-center">UPDATE BLOG</h2>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="form-group">
                        <label >ID:</label>
                        <input  type="text" class="form-control" th:field="*{id}" readonly="readonly" >
                    </div>
                    <label >Full Name:</label>
                    <input  type="text" class="form-control" th:field="*{type}" >
                </div>
                <div class="form-group">
                    <label>Address:</label>
                    <input type="text" class="form-control"  th:field="*{author}"}>
                </div>
                <div class="form-group">
                    <label>Age:</label>
                    <input type="text" class="form-control"th:field="*{description}">
                </div>


            <button class="btn btn-success" type="submit">Create</button>
        </div>
    </div>
    </div>
</form>
</body>
</html>